body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Splash Page Styling */
.splash-container{
  background: #0D0106;
  grid-column: 3 / 5;
  grid-row: 4;
  opacity: 0.8;
}

.splash-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.splash-head{
  color: #BFB48F;
  font-size: 18pt;
  padding: 5px;
  border: 3px double #605B56;
  grid-column: 3 / 6;
  font-family: 'Indie Flower', cursive;
}

.splash-text{
  color: #BFB48F;
  font-size: 15pt;
  grid-column: 2 / 7;
  font-family: 'Indie Flower', cursive;
}

.template-list{
  text-align: center;
  grid-column: 3 / 6;
}

.template-list-item:nth-child(odd){
  border: 3px double #5C0029;
  color: #BFB48F;
  font-size: 14pt;
  margin: 5px;
  font-family: 'Indie Flower', cursive;
}

.template-list-item:nth-child(even){
  border: 3px double #605B56;
  color: #BFB48F;
  font-size: 14pt;
  margin: 5px;
  font-family: 'Indie Flower', cursive;
}

.template-list-item:hover{
  border: 3px solid #F06543;
}

.splash-link{
  color: #BFB48F;
  font-size: 14pt;
  text-decoration-line: none;
  margin: 10px;
  font-family: 'Indie Flower', cursive;
}

.splash-link:visited{
  color: #F06543;
}

.splash-link:hover{
  color: #BFB48F;
  cursor: pointer;
}


/* NavBar Styling */
.nav-bar-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: 0 / 2;
  grid-column: 3 / 8;
}

.nav-link{
  color: #605B56;
  font-size: 18pt;
  text-decoration-line: none;
  margin: 10px;
  font-family: 'Indie Flower', cursive;
}

.nav-link:visited{
  color: #0D0106;
}

.nav-link:hover{
  color: #BFB48F;
  cursor: pointer;
}

/* Login Form Styling */
